<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
      <base href="/src" />
    <link rel='stylesheet' href='http://localhost:8080/dist/main_style.css' />
      <script src="libs/angular2-polyfills.min.js"></script>
      <script src="http://localhost:8080/dist/main.bundle.js"></script>

  </head>
  <body>
    {{{body}}}
  </body>
</html>
